@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer utilities {
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* tip-tap styles */
    a {
        @apply hover:text-monster-600;
    }

    a[data-as-button="true"] {
        text-decoration: none;
        display: inline-block;
        @apply bg-monster-400 py-2 leading-relaxed px-5;

        &[data-as-button-theme="primary"] {
            color: black;
        }
    }

    strong {
        @apply dark:text-woodsmoke-100;
    }
}
