@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer utilities {
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* tip-tap styles */
    a[data-as-button="true"] {
        text-decoration: none;
        display: inline-block;
        @apply bg-monster-400 py-2 leading-relaxed px-5;

        &[data-as-button-theme="primary"] {
            color: white;
        }
    }

    a[data-as-button="false"] {
        @apply text-monster-600 dark:text-monster-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply dark:text-woodsmoke-100;
    }

    ul > li {
        list-style-type: '✔️';
    }

    strong {
        @apply dark:text-woodsmoke-100;
    }

    details {
        /* border-radius: 4px; */
        cursor: pointer;
        @apply border-l-8 border-monster-400 bg-woodsmoke-200 dark:bg-woodsmoke-900 open:bg-woodsmoke-50 dark:open:bg-woodsmoke-950 open:ring-1 open:ring-black/5 dark:open:ring-white/10 open:shadow-md p-6 rounded-lg transition-colors ease-in-out duration-300;
    }

    details > summary {
        list-style-type: '👉 ';
    }

    details[open] > summary {
        list-style-type: '👇 ';
    }

    summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
    }
}
