@use "../abstracts" as *;

.bg-seccion {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,255,254,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,255,254,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,255,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#edfffe",GradientType=1);
}
