@use "../abstracts/" as *;

.publicaciones {
    display: grid;

    @include mq(large) {
        grid-auto-flow: column;
        grid-auto-columns: 2fr 1fr;
        gap: $size-10;
    }

    &__destacada {
        margin-bottom: $size-8;

        &__img-wrap {
            padding-bottom: 1rem;
            aspect-ratio: 1 / 1;
            height: auto;
            width: 100%;

            @include mq(large) {
                height: 610px;
            }

            img {
                border-radius: $border-radius-1;
                object-position: center;
                object-fit: cover;
                height: 100%;
                width: 100%;

                @include mq(large) {
                    object-position: top left;
                }
            }
        }

        &__tiempo {
            color: $color-neutral-500;
            font-size: $font-size-400;
        }

        &__detalles {
            color: $color-neutral-500;

            h1 {
                font-family: $font-family-medium;

                @include mq(small) {
                    font-size: $font-size-600;
                }
                @include mq(large) {
                    font-size: $font-size-700;
                }
            }

            p {
                @include mq(small) {
                    font-size: $font-size-500;
                }
                @include mq(large) {
                    font-size: $font-size-600;
                }
            }
        }
    }

    &__lista {
        @include mq(small) {
            margin-block-start: $size-5;
        }
        @include mq(medium) {
            margin-block-start: 0;
        }

        &__wrap {
            display: flex;
            gap: $size-4;

            &__img {
                aspect-ratio: 1 / 1;
                width: 144px;
                height: 89px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: $border-radius-1;
                }
            }

            &__detalles {
                color: $color-neutral-500;

                h1 {
                    font-family: $font-family-medium;
                    font-size: $font-size-600;
                    @include mq(medium) {
                        font-size: $font-size-500;
                    }
                }

                p {
                    font-size: $font-size-500;
                    @include mq(medium) {
                        font-size: $font-size-400;
                    }
                }
            }
        }
    }
}
