@use "../abstracts" as *;

.blog-welcome {
    &__header {
        padding-block-start: $size-2;
        padding-block-end: $size-11;
        h1 {
            @include mq(small) {
                font-size: $font-size-700;
            }
            @include mq(large) {
                font-size: $font-size-800;
            }
        }
    }

    &__posts {
        margin: auto;
        display: grid;

        @include mq(medium) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-auto-rows: auto;
            gap: $size-4;
        }

        a {
            .img-wrap {
                height: 200px;
                width: 200px;
                margin: auto;

                @include mq(medium) {
                    margin: 0;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.152));
                    transform: rotate(-3deg);
                    transition: transform 0.3s ease-in-out;

                    @include mq(small) {
                        margin: auto;
                    }
                    @include mq(large) {
                        margin: 0;
                    }

                    &:is(:hover) {
                        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.264));
                        transform: rotate(0deg);
                    }
                }
            }

            .post-details {
                color: $color-primary-500;
                display: flex;
                flex-direction: column;
                padding-block-start: $size-3;
                padding-block-end: $size-6;

                h1 {
                    @include mq(small) {
                        font-size: $font-size-500;
                    }
                    @include mq(medium) {
                        font-size: $font-size-400;
                    }
                }

                @include mq(small) {
                    text-align: center;
                }
                @include mq(medium) {
                    text-align: start;
                }

                &:hover {
                    color: $color-alt-400;
                }
            }
        }
    }
}
