@use "../abstracts" as *;

.blog {
    &__posts {
        @include mq(small) {
            margin: auto;
        }
        a {
            height: auto;

            img {
                height: auto;
                width: 250px;
                filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.152));
                transform: rotate(-3deg);
                transition: transform 0.3s ease-in-out;

                @include mq(small) {
                    margin: auto;
                }
                @include mq(large) {
                    margin: 0;
                }
                &:is(:hover) {
                    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.264));
                    transform: rotate(0deg);
                }
            }

            .post-details {
                color: $color-primary-500;
                display: flex;
                flex-direction: column;
                padding-block-start: $size-3;
                padding-block-end: $size-6;

                h1 {
                    @include mq(small) {
                        font-size: $size-5;
                    }
                    @include mq(medium) {
                        font-size: $size-4;
                    }
                }

                @include mq(small) {
                    text-align: center;
                }
                @include mq(medium) {
                    text-align: start;
                }

                &:hover {
                    color: $color-alt-400;
                }
            }
        }
    }
}
