@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease;

    &[data-type="primary"] {
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background: linear-gradient(to bottom, $button-primary-background 90%, #762428 100%);
        color: $button-primary-color;
        overflow: hidden;
        position: relative;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.152));
        // agrega suavidad al linear-gradient
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, $button-primary-background 100%, #762428 100%);
            opacity: 0; // inicialmente invisible
            transition: opacity 0.3s ease; // transición suave
            z-index: -1; // para mantener el texto por encima
        }

        &:is(:hover, :focus) {
            color: $button-primary-color-hover;
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.264));
            transform: scale(1.2) translate(0, 0) rotate(-3deg);
            transform-origin: center;
            &::after {
                opacity: 1; // se muestra suavemente al hacer hover
            }
        }
        @include mq(large){
            margin-block-start: 48px;
        }
    }

    &[data-type="acerca"] {
        padding: 0.5rem 1.8em;
        background-color: $button-acerca-background;
        color: $button-acerca-color;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.152));
        transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:is(:hover, :focus) {
            background-color: $button-acerca-background-hover;
            color: $button-acerca-color-hover;
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.264));
            transform: scale(1.1) translate(0, 0);
        }
    }

    &[data-type="info"] {
        color: $color-text-default;
        border: 1px solid $color-text-default;
        border-radius: 0;
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin: $size-10 0;
            img {
                margin-left: $size-3;
            }
            @include mq(small) {
                width: 100%;
            }
            @include mq(medium) {
                margin: $size-5 0;
                flex: 1 1 50%;
                width: 60%;
                font-size: 16px;
                padding: $size-3;
            }
            @include mq(xlarge) {
                font-size: 18px;
                width: 40%;
            }

            &:is(:hover, :focus) {
                position: relative;
                transform: translateY(-8px); /* Desplazar el botón ligeramente hacia abajo */
                transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out; /* Agrega transición a ambas propiedades */
            }
    }

    &[data-type="enviar-btn"] {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 1px solid $body-text-color;
        border-radius: 0;
        margin-block-start: $size-5;
        color: $color-text-default;

            @include mq(small) {
                width: 100%;
            }
            @include mq(medium) {
                width: fit-content;
                font-size: 16px;
            }

            &:is(:hover, :focus) {
                position: relative;
                transform: translateY(-8px);
                background-color: $color-neutral-200;
                transition: transform 0.2s ease-in-out, bottom 0.2s ease-in-out;
            }
        img {
            padding-left: 12px;
        }
    }

    &[data-type="preguntas"] {
        background-color: transparent;
        color: $color-text-default;
        border: 1px solid $color-text-default;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin: $size-10 0;

            img {
                margin-left: $size-3;
            }
            @include mq(small) {
                width: 100%;
            }
            @include mq(medium) {
                margin: $size-5 0;
                flex: 1 1 50%;
                width: fit-content;
                font-size: 16px;
                padding: $size-3;
            }
            @include mq(xlarge) {
                font-size: 16px;
            }

            &:is(:hover, :focus) {
                text-decoration: underline;
            }
    }
}
