@use "../abstracts" as *;

.gran-problema {
    display: grid;
    grid-template-areas: "stack";
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    &__bg {
        grid-area: stack;
    }

    &__content {
        grid-area: stack;
        align-self: center;

        &__header {
            .gran-problema-pic {
                margin: auto;
                margin-bottom: 21px;
                border-radius: $size-8;
                width: 180px;
                filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.152));
                transform: rotate(-5deg);
                transition: transform 0.3s ease-in-out;

                &:is(:hover) {
                    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.264));
                    transform: rotate(0deg);
                }
                @include mq (medium) {
                    margin: 0;
                }
            }

            h2 {
                padding-top: $size-5;
                font-family: $heading-font-family;
                font-size: 48px;
                line-height: 1.2;
                color: $color-primary-500;
            }
        }

        &__copy {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3 {
                font-size: $font-size-700;
                font-family: $font-family-medium;
            }

            p {
                font-size: $font-size-600;
            }
        }
    }
}

.gran-problema__content__header, .gran-problema__content__copy {
    will-change: transform, opacity;
  }
