@use "../abstracts" as *;

.hero {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,255,254,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,255,254,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,255,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#edfffe",GradientType=1);

    @include mq(large) {
        padding-inline: $size-4;
    }
    @include mq(2xlarge) {
        padding-inline: $size-10;
    }

    &__top-space {
        @include mq(small) {
            padding-top: $size-5;
        }
        @include mq(large) {
            padding-top: 80px;
        }
        @include mq(xlarge) {
            padding-top: 104px;
        }
    }
    &__header {
        color: $hero-header-font-color;
        font-size: $hero-header-font-size;
        font-family: $hero-header-font-family;
        line-height: 1.2;

        @include mq(small) {
            font-size: $font-size-800;
        }
        @include mq(large) {
            font-size: $font-size-900;
        }
        @include mq(2xlarge) {
            font-size: $hero-header-font-size;
        }
    }
    &__subtitulo {
        font-size: $font-size-400;
        @include mq(large) {
            font-size: $font-size-500;
        }
        @include mq(2xlarge) {
            font-size: $font-size-600;
        }
    }
    &__image-wrap {
        display: grid;
        grid-template-areas: "stack";
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: $size-8;

        @include mq(medium) {
            margin-top: $size-4;
        }
        @include mq(large) {
            margin-top: 0;
        }

        &__bg {
            grid-area: stack;
            justify-self: center;
            align-self: center;
            width: 90%;
            height: auto;
            transform: translateY(-30%);

            @include mq(medium) {
                transform: translateY(-25%);
            }
        }

        &__impacto {
            grid-area: stack;
            justify-self: center;
            align-self: self-end;
            max-width: 80%;
            z-index: 1;

            @include mq(large) {
                align-self: center;
            }

            @include mq(xlarge) {
                width: 650px;
                height: auto;
                padding: $size-10;
            }
       }
    }
    &__testimonio {
        padding-top: 262px;
        font-style: italic;
        @include mq(small) {
            padding-top: 0;
            font-size: $font-size-300;
        }
        @include mq (large) {
            padding-top: $size-15;
            font-size: $font-size-500;
        }
    }
}
