@use "../abstracts" as *;

.heroe {
    article {
        h1 {
            @include mq(small) {
                font-size: $size-8;
            }
            @include mq(xlarge) {
                font-size: $heroe-header-font-size;
            }
        }
        p {
            @include mq(small) {
                font-size: $heroe-subtitle-font-size;
            }
            @include mq(large) {
                font-size: $font-size-600;
            }
        }
    }
}
