@use "../abstracts" as *;

.hero {
    @include mq(large) {
        padding-inline: $size-4;
    }
    @include mq(2xlarge) {
        padding-inline: $size-10;
    }
    &__top-space {
        @include mq(small) {
            padding-top: $size-5;
        }
        @include mq(large) {
            padding-top: 80px;
        }
        @include mq(xlarge) {
            padding-top: 104px;
        }
    }
    &__header {
        color: $hero-header-font-color;
        font-size: $hero-header-font-size;
        font-family: $hero-header-font-family;
        line-height: 1.2;

        @include mq(small) {
            font-size: $font-size-800;
        }
        @include mq(large) {
            font-size: $font-size-900;
        }
        @include mq(2xlarge) {
            font-size: $hero-header-font-size;
        }
    }
    &__subtitulo {
        font-size: $font-size-400;
        @include mq(large) {
            font-size: $font-size-500;
        }
        @include mq(2xlarge) {
            font-size: $font-size-600;
        }
    }
    &__image-wrap {
        height: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
            @include mq(xlarge) {
                width: 650px;
                height: auto;
                padding: 48px;
            }
       }
    }
    &__testimonio {
        padding-top: 262px;
        font-style: italic;
        @include mq(small) {
            padding-top: 0;
            font-size: $font-size-300;
        }
        @include mq (large) {
            padding-top: $size-15;
            font-size: $font-size-500;
        }
    }
}
