@use "../abstracts" as *;

.heroe {
    height: auto;

    &__acerca {

        .img-pilar-izq,
        .img-pilar-der {
            display: none;

            @include mq(medium) {
                display: block;
                width: clamp(200px, 15vw, 267px);
            }
        }

        .img-pilar-izq {
            position: absolute;
            top: 0;
            left: 0;
        }

        .img-pilar-der {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__inner {
            display: flex;
            overflow: hidden;

            .acerca-cards {
                display: grid;
                width: 100vw;

                > * {
                    grid-area: 1 / 1 / 2 / 2;
                    align-content: center;
                }

                section {
                    height: 100vh;
                    min-height: auto;
                }

                .hero-acerca {
                    article {
                        @include mq(medium) {
                            padding-inline: $size-11;
                        }
                    }
                }

                .intro-aha {

                    .aha-copy {
                        position: relative;
                        height: 100%;

                        @include mq(medium) {
                            height: auto;
                        }

                        img {
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 1;
                            width: auto;
                            max-width: 80%;

                            @include mq(medium) {
                                position: relative;
                                top: auto;
                                left: auto;
                                transform: translateX(0);
                            }
                        }

                        article {
                            position: absolute;
                            top: 45%;
                            left: 50%;
                            width: 100%;
                            transform: translate(-50%, -50%);
                            z-index: 2;

                            @include mq(medium) {
                                position: relative;
                                transform: none;
                                top: auto;
                                left: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-right: 12px;
                            }
                        }

                        .aha-p {
                            position: absolute;
                            width: 100%;
                            top: -40px;

                            @include mq(medium) {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-right: $size-4;
                                top: 0;
                                bottom: 0;
                            }
                        }
                    }
                }

                .declaracion {
                    article {
                        @include mq(medium) {
                            padding-inline: $size-11;
                        }
                    }
                }
            }
        }
    }

    article {
        h1 {
            @include mq(small) {
                font-size: $size-8;
            }
            @include mq(xlarge) {
                font-size: $heroe-header-font-size;
            }
        }

        p {
            font-size: $font-size-600;
        }
    }
}
