@use "../abstracts" as *;

.objeciones {
    @include mq(small) {
        padding-inline: $size-2;
    }
    @include mq(medium) {
        padding-inline: 0;
    }

    h1 {
        font-family: $font-family-display;

        @include mq(small) {
            font-size: 40px;
            margin-bottom: $size-8;
        }
        @include mq(medium) {
            font-family: $font-family-display;
            margin-bottom: $size-11;
        }
    }

    &__copy {
        margin-bottom: $size-10;

        @include mq(large) {
            margin-bottom: $size-13;
        }

        p {
            font-size: $font-size-600;
        }
    }

    .objecion {

        &__wrapper {
            @include mq(small) {
                display: grid;
                gap: $size-10;
            }
            @include mq(large) {
                grid-auto-flow: column;
                grid-auto-columns: 2fr 1fr;
            }
            /* columna izquierda */
            .content {
                @include mq(small) {
                    order: 2;
                }
                @include mq(large) {
                    order: 1;
                }

                &__item {
                    button {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        text-align: start;
                        padding-block: $size-2;
                        padding-left: $size-8;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        font-family: $font-family-display;
                        font-size: 21px;
                        transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
                        position: relative;

                        &:hover {
                            //color: $color-alt-300;
                            background-color: $color-contacto-200;
                            border-radius: 4px;
                        }

                        img {
                            padding-right: $size-2;
                            position: absolute;
                            top: 25%;
                            left: 0;
                        }

                        &.active {
                            //color: $color-alt-300;
                            background-color: $color-contacto-200;
                            border-radius: 4px;
                        }
                    }

                    .descripcion {
                        padding: $size-4;
                    }
                }
            }

            /* columna derecha */
            .lottie {
                @include mq(small) {
                    order: 1;
                }
                @include mq(large) {
                    order: 2;
                }

                /* tamaño del reproducto */
                .lottie-player {
                    @include mq(small) {
                        width: 350px;
                        height: 350px;
                    }
                    @include mq(medium) {
                        width: 500px;
                        height: 500px;
                    }
                }
            }
        }
    }
}
