@use "../abstracts" as *;

.oferta {
    &:last-child {
        @include mq(small) {
            margin-block-end: 0;
        }
    }

    @include mq(small) {
        margin-block-end: $size-7;
    }
    @include mq(medium) {
        margin-block-end: $size-15;
    }

    &__img {
        margin: auto;
        @include mq(small) {
            width: 80%;
        }
        @include mq(medium) {
            width: 55%;
        }
    }

    &__copy {
        // &__copy
        @include mq(small) {
            margin-block-end: $size-12;
        }
        @include mq(medium) {
            margin-block-end: 0;
        }

        h1 {
            font-family: $font-family-display;

            @include mq(small) {
                font-size: $font-size-700;
                text-align: center;
                margin-block-end: $size-4;
            }
            @include mq(medium) {
                text-align: start;
            }
        }

        p {
            font-size: $font-size-500;
        }

        .btn-custom-servicios {
            margin-block-start: $size-10;

            @include mq(small) {
                width: 100%;
                padding-block: $size-3;
            }
            @include mq(medium) {
                width: fit-content;
                padding-block: $size-2;
            }
        }
    }
}
