@use "../abstracts" as *;

.parte-divertida {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: $size-6;

        .opcion-1 {
            text-align: end;
            padding: $size-1;
        }
}

    .preferida {
        border-bottom: 5px solid $color-alt-200;
    }
}
