@use "../abstracts" as *;

.porque-eduardo {
    overflow: hidden;
    img {
        @include mq(small) {
            margin: auto;
        }
        @include mq(large) {
            margin: 0;
        }
    }
    &__copy {
        p {
            font-size: $font-size-600;
        }
        .pq-eduardo-custom-btn {
            padding: $size-3;
            @include mq(small) {
                width: 100%;
            }
            @include mq(medium) {
                width: fit-content;
            }
        }
    }
}
