@use "../abstracts" as *;

.porque-eduardo {
    overflow: hidden;

    img {
        height: auto;
        width: 350px;
        border-radius: $border-radius-2;

        @include mq(small) {
            margin: auto;
        }

        @include mq(large) {
            margin: 0;
        }
    }

    &__copy {
        padding-block-end: .3rem;

        p {
            font-size: $font-size-600;
        }

        .pq-eduardo-custom-btn {
            padding: $size-3;

            @include mq(small) {
                width: 100%;
            }
            
            @include mq(medium) {
                width: fit-content;
            }
        }
    }
}
