@use '../abstracts/' as *;

@mixin pad-responsivo($pad-sm, $pad-lg) {
    padding: $pad-sm;

    @include mq(large) {
        padding: $pad-lg;
    }
}

@mixin bloque-listas ($img-width: 25px, $img-height: 25px) {
    header {
        padding-block-end: $size-10;

        h2 {
            font-size: $font-size-700;
            @include mq(medium) {
                font-size: $font-size-800;
            }
        }
    }

    &__lista {
        @include mq(large) {
            width: 70ch;
            margin: auto;
        }
        &__item {
            display: flex;
            margin-block-end: $size-11;

            img {
                width: $img-width;
                height: $img-height;

                @include mq(medium) {
                    align-self: center;
                    width: 30px;
                    height: 30px;
                }
            }

            &__inner {
                padding-left: $size-4;

                h2 {
                    font-family: $font-family-medium;
                    font-size: $font-size-600;
                }

                p {
                    font-size: $font-size-600;
                }
            }
        }
    }
}

@mixin testimonio {
    &__texto {
        @include mq(medium) {
            width: 70ch;
            margin: auto;
        }

        h2 {
            font-size: $font-size-600;
        }

        p {
            font-size: $font-size-600;
        }
    }

    img {
        margin-top: $size-8;
    }
}

@mixin seccion-cta {
    @include pad-responsivo($size-3, 0);

    h2 {
        font-size: $font-size-700;
        margin-block-end: $size-8;

        @include mq(medium) {
            font-size: $font-size-800;
        }
    }

    h3 {
        font-size: $font-size-600;
        margin-block-end: $size-8;

        @include mq(medium) {
            font-size: $font-size-600;
            width: 50ch;
            margin: auto;
        }

        @include mq(large) {
            width: 65ch;
        }
    }
}

.ventas-heroe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-12;

    @include mq(medium) {
        flex-direction: row;
        justify-content: center;
        padding: $size-4;
        margin-block-end: $size-15;
    }

    &__copy {

        @include mq(medium) {
            display: flex;
            flex-direction: column;
            align-items: center;
            order: 2;
            width: 55ch;
        }

        h1 {
            @include mq(small) {
                font-size: $size-8;
            }

            @include mq(medium) {
                text-align: start;
                padding-block-end: $size-3;
            }

            @include mq(xlarge) {
                font-size: $heroe-header-font-size;
            }
        }
    
        h2 {
            font-size: $font-size-600;
            order: 2;
            padding: $size-4;

            @include mq(medium) {
                text-align: start;
                padding: 0;
            }
        }
    }

    &__img {
        order: 1;
        width: 330px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.164));

        img {
            border-radius: .3rem;
        }

        @include mq(medium) {
            width: 330px;
            transform: rotate(-2deg);
        }
    }
}

.resultado-perfecto {
    @include pad-responsivo($size-3, 0);

    & {
        font-size: $font-size-600;
    }

    @include mq(medium) {
        width: 45ch;
        margin: auto;
    }

    @include mq(large) {
        width: 60ch;
    }

    h1 {
        padding-block-end: $size-4;
    }
}

.agitacion {
    @include pad-responsivo($size-3, 0);

    & {
        font-size: $font-size-600;
    }

    @include mq(medium) {
        width: 45ch;
        margin: auto;
    }

    @include mq(large) {
        width: 60ch;
    }
}

.porque-esto {
    @include pad-responsivo($size-3, 0);

    img {
        margin: auto;
        width: 80%;
        border-radius: $border-radius-2;

        @include mq(medium) {
            width: 60%;
        }
    }

    &__copy {
        @include mq(medium) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include mq(large) {
            width: 65ch;
        }

        h2 {
            font-family: $font-family-medium;
            font-size: $font-size-600;
        }

        p {
            font-size: $font-size-600;
        }
    }
}

.linea-1-wrap {
    display: none;
    
    @include mq(medium) {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 80px;

        .linea-1 {
            width: 50%;
        }
    }
}

.intro-solucion {
    @include pad-responsivo($size-3, 0);
    h2 {
        font-family: $font-family-medium;
        font-size: $font-size-700;
    }

    p {
        padding-block: $size-4;
        font-size: $font-size-600;

        @include mq(large) {
            width: 65ch;
            margin: auto;
        }
    }

    &__img-wrap {
        height: 500px;
        
        img {
            height: 100%;
            border-radius: $border-radius-2;
        }
    }
}

.lo-que-necesitas {
    @include pad-responsivo($size-3, 0);
    @include bloque-listas;
}

.bondades {
    @include pad-responsivo($size-3, 0);

    header {
        padding-block-end: $size-12;

        h2 {
            font-size: $font-size-700;

            @include mq(medium) {
                font-size: $font-size-800;
            }
        }

        h3 {
            font-size: $font-size-600;
        }
    }

    &__lista {
        @include mq(large) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $size-10;
        }

        &__item {
            margin-block-end: $size-11;

            &__header {
                display: flex;
                align-items: center;

                img {
                    width: 40px;

                    @include mq(large) {
                        width: 45px;
                    }
                }

                h2 {
                    padding-left: $size-6;
                    font-family: $font-family-medium;
                    font-size: $font-size-600;
                }
            }

            &__copy {
                font-size: $font-size-600;
                padding-left: $size-11;
            }
        }
    }
}

.como-funciona {
    @include pad-responsivo($size-3, 0);

    @include bloque-listas(
        $img-width: 30px,
        $img-height: 30px,
    );
}

.testimonio-corto {
    @include pad-responsivo($size-3, 0);

    @include testimonio;
}

.testimonio-one {
    @include pad-responsivo($size-3, 0);

    @include testimonio;
}

.linea-2-wrap {
    display: none;

    @include mq(medium) {
        display: block;
        position: relative;
        top: 64px;
        
        .linea-2 {
            width: 70%;
        }
    }

    @include mq(large) {
        .linea-2 {
            width: 42%;
        }
    }
}

.confianza {
    @include pad-responsivo($size-3, 0);

    header {
        padding-block-end: $size-10;

        h2 {
            font-size: $font-size-700;
            @include mq(large) {
                padding-block-end: $size-4;
                padding-left: $size-8;
            }
        }
    }

    &__lista {
        column-gap: $size-4;

        @include mq(medium) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
        }

        @include mq(large) {
            padding-inline: $size-10;
            column-gap: $size-10;
        }

        @include mq(2xlarge) {
            padding-inline: $size-15;
        }

        &__item {
            margin-block-end: $size-11;

            @include mq(medium) {
                display: grid;
            }

            h2 {
                font-size: $font-size-700;
            }

            h3 {
                font-size: $font-size-600;

                @include mq(medium) {
                    height: 233px;
                }

                @include mq(large) {
                    height: 200px;
                }

                @include mq(2xlarge) {
                    height: 120px;
                }
            }
        }
    }
}

.unica-opcion {
    @include pad-responsivo($size-3, 0);

    h2 {
        font-size: $font-size-700;
        margin-block-end: $size-4;

        @include mq(medium) {
            font-size: $font-size-800;
        }
    }

    p {
        font-size: $font-size-600;
        padding-block: $size-3;

        @include mq(medium) {
            width: 50ch;
            margin: auto;
        }
        @include mq(large) {
            width: 65ch;
        }
    }
}

.que-incluye {

    @include pad-responsivo($size-3, 0);

    h2 {
        font-size: $font-size-700;

        @include mq(medium) {
            font-size: $font-size-800;
        }
    }

    &__lista {
        @include mq(large) {
            width: 70ch;
            margin: auto;
        }

        h2 {
            font-size: $font-size-700;
            margin-block-end: $size-4;
        }

        &__item {
            display: flex;
            flex-direction: column;
            margin-block-end: $size-11;

            p {
                font-size: $font-size-600;
            }
        }
    }

    &__precio {
        font-size: $font-size-700;

        @include mq(large) {
            width: 50ch;
            margin: auto;
        }
    }
}

.desglose-precios {
    @include pad-responsivo($size-3, 0);

    h2 {
        font-size: $font-size-700;
        text-align: center;
        margin: auto;

        @include mq(medium) {
            font-size: $font-size-700;
            text-align: start;
            margin-left: 2rem;
        }
        @include mq(large) {
            margin-left: 0;
        }
    }

    &__descripcion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            margin-block: $size-7;
            border: 1px solid $color-contacto-300;
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.144));
            border-radius: $border-radius-2;
            text-align: center;
            padding: $size-8;
            width: 220px;
            font-size: $font-size-600;
            background-color: $color-contacto-200;

            span {
                font-size: $font-size-700;
            }
        }
    }
}

.plazas-cta {
    @include seccion-cta;
}

.garantia-cta-wrap {
    display: grid;
    grid-template-areas: "stack";
    position: relative;

    &__bg {
        grid-area: stack;
    }

    .garantia-cta {
        @include seccion-cta;
        grid-area: stack;
        align-self: center;
    }
}

.transforma-cta {
    @include seccion-cta;
}

.porque-yo {
    @include pad-responsivo($size-3, 0);

    img {
        border-radius: $border-radius-2;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.264));
    }

    &__inner {
        @include mq(large) {
            width: 60ch;
            padding-inline-start: $size-7;
        }

        h2 {
            font-size: $font-size-700;
            text-align: center;
            padding-block-end: $size-6;

            @include mq(medium) {
                font-size: $font-size-700;
                text-align: start;
            }
        }

        p {
            font-size: $font-size-600;
        }
    }
}

.candidato-adecuado {
    @include pad-responsivo($size-3, 0);

    h2 {
        font-size: $font-size-700;

        @include mq(medium) {
            font-size: $font-size-800;
        }
    }

    &__lista {
        padding-block-start: $size-10;

        &__item {
            margin-block-end: $size-10;

            @include mq(medium) {
                display: flex;
            }

            h2 {
                font-size: $font-size-600;
                margin-block-end: $size-4;

                @include mq(medium) {
                    flex: 1;
                    font-size: 24px;
                    border: 1px solid transparent;
                }
            }
        }

        &__descripciones {

            @include mq(medium) {
                flex: 1;
            }

            p {
                font-size: $font-size-600;
                
                @include mq(large) {
                    width: 45ch;
                }
            }
        }
    }

    &__copy {
        font-size: $font-size-600;
        text-align: center;
        margin-block-start: $size-8;

        @include mq(medium) {
            padding-block-start: $size-10;
            width: 50ch;
            margin: auto;
            margin-block-start: 0;
        }

        @include mq(large) {
            width: 45ch;
        }
    }
}
