@use "../abstracts" as *;

.seccionCTA {
    .cta-inner {
        &__copy {
            h1 {
                font-size: 40px;
            }
            .subtitulo {
                font-family: $font-family-wide;

                @include mq(small) {
                    font-size: $font-size-600;
                    padding-block: $size-4;
                }
                @include mq(medium) {
                    padding-block: 0;
                }
            }
        }
    }

    &[data-type="contacto"] {
        .cta-inner {
            @include mq(medium) {
                display: flex;
                gap: $size-12;
                align-items: center;
            }

            &__imagen {
                width: 300px;
                margin: auto;
                @include mq(small) {
                    padding-block-end: $size-10;
                }
                @include mq(medium) {
                    flex: 1;
                    padding-block-end: 0;
                }
            }

            &__copy {
                @include mq(medium) {
                    flex: 2;
                }
                .subtitulo {
                    font-family: $font-family-base;
                    @include mq(small) {
                    }
                    @include mq(medium) {
                    }
                }

                a {
                    margin-block-start: $size-5;
                    @include mq(small) {
                        width: 100%;
                        padding: $size-3;
                        font-size: $font-size-600;
                    }
                    @include mq(medium) {
                        width: fit-content;
                        font-size: 24px;
                        font-size: $font-size-500;
                        padding: 0.5rem 1.8em;
                    }
                }
            }
        }
    }
    &[data-type="servicios"] {
        .cta-inner {
            &__copy {
                h1 {
                    margin-bottom: $size-8;
                }
            }
        }
    }
}
