@use "../abstracts" as *;

.servicio {
    @include mq(small) {
        padding-inline: $size-5;
    }
    @include mq(medium) {
        padding-inline: 0;
    }
    .servicio-item {
        @include mq(small) {
            margin-block-end: $size-7;
        }
        @include mq(medium) {
            margin-block-end: $size-15;
        }

        &__copy {
            margin: auto;

            @include mq (small) {
                order: 2;
            }
            @include mq (medium) {
            }

            h1 {
                font-family: $font-family-display;
                @include mq(small) {
                    font-size: 32px;
                }
                @include mq(medium) {
                    font-size: 48px;
                }
            }

            p {
                font-size: $font-size-500;
            }
        }

        &__imagen {
            margin: auto;

            @include mq(small) {
                order: 1;
            }
            @include mq(medium) {
                order: 2;
            }
            img {
                width: 400px;
            }
        }
    }
}
