@use "../abstracts/" as *;

.site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;
    margin-block-end: $size-15;
    font-size: $size-5;
    padding-block: $size-9 0;
    padding-inline: $size-6;

    @include mq(medium) {
        margin-block-end: $size-3;
        font-size: $size-4;
    }

  &__content {
    display: flex;
    flex-direction: column;

    @include mq(medium) {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo-wrapper {
        .logo { margin-block-end: $size-8; }
    }

    .listas {
        margin-block-end: $size-4;

        &__item {
            h2 {
                color: $color-neutral-300;
                font-size: $font-size-600;
                font-weight: normal;
            }

            ul {
                @include mq(large) { padding-block-start: $size-5; }

                li {
                    line-height: 2;
                    list-style: none;
                    font-size: $font-size-500;

                    @include mq(large) { padding-block-end: $size-2; }
                }
            }
        }
    }
  }

  &__redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: $size-7;

    @include mq(medium) {
        gap: $size-7;
        justify-content: flex-start;
    }
  }

  a {
    color: $footer-link-color;
    text-decoration: $footer-link-text-decoration;
    font-family: $footer-link-font-family;
    letter-spacing: $letter-spacing-loose;

    &:is(:hover, :focus) {
      color: $footer-link-color-hover;
    }
  }

  hr { color: $horizontal-line-color; }
}
