@use "../abstracts/" as *;

.valores {

    @include mq(small) {
        display: flex;
        flex-direction: column;
    }
    @include mq(medium) {
        flex-direction: row;
    }

    &__item {
        @include mq(small) {
            margin-block-end: $size-10;
        }
        @include mq(medium) {
            margin-block-end: 0;
        }

        h2 {
            font-family: $font-family-display;

            @include mq(small) {
                font-size: 21px;
            }
            @include mq(medium) {
                font-size: $font-size-600;
            }
        }
        &:last-child {
            @include mq(small) {
                margin-block-end: 0;
            }
        }
    }
}
