/* chaneys */
@font-face {
  font-family: "Chaney Regular";
  font-display: swap;
  src: url("/fonts/chaney-regular.woff2") format("woff2"),
    url("/fonts/chaney-regular.woff") format("woff");
}
@font-face {
  font-family: "Chaney Wide";
  font-display: swap;
  src: url("/fonts/chaney-wide.woff2") format("woff2"),
    url("/fonts/chaney-wide.woff") format("woff");
}
@font-face {
  font-family: "Chaney Ultra";
  font-display: swap;
  src: url("/fonts/chaney-ultraextended.woff2") format("woff2"),
    url("/fonts/chaney-ultraextended.woff") format("woff");
}
/* nudicas */
@font-face {
  font-family: "Nudica Regular";
  font-display: swap;
  src: url("/fonts/nudica-regular.woff2") format("woff2"),
    url("/fonts/nudica-regular.woff") format("woff");
}
@font-face {
    font-family: "Nudica Medium";
    font-display: swap;
    src: url("/fonts/nudica-medium.woff2") format("woff2"),
      url("/fonts/nudica-medium.woff") format("woff");
}
