@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
}

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .faded-bg {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  main {
    flex: 1;
  }
}